name: R basic check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2

      - name: Basic R check
        run: |
          Rscript -e 'sessionInfo()'
          Rscript -e 'stopifnot(file.exists("generate_map.R"))'